body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}


#top-bar{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

#bbc-logo{
    margin-top: 7px;
    margin-right: 6px;
    float: left;
}

.topbar-menu{
    border-left: 1px solid #CCCCCC;
    height: 100%;
    float: left;
    margin-right: 10px;
}

#signin-logo{
    margin: 10px;
    float: left;
}

.text-dec{
    font-weight: bold;
    font-size: 13px;
    position: relative;
    top:12px;
    left: 5px;
    padding: 10px;
}

#signin-text{
    margin-right: 100px;
    padding: 0;
}

#more-arrow{
    float: right;
    margin-top: 5px;
    margin-left: 15px;
}

#search-bar{
    margin: 11px 0 11px 11px;
    float: left;
    background-color: #e4e4e4;
    font-weight: bold;
    padding: 3px;
}

#searchicon{
    margin-top: 10px;
    height: 24px;
}

/* second container */

#second-container{
    background-color: rgb(187, 35, 35);
    height: 80px;
    width: 100%;
    margin-top: 5px;
}

h1{
    color: white;
    width: 63%;
    margin: 0 auto;
    font-size: 50px;
    font-family: Helveticasans-serif;
    position: relative;
    top: 10px;
}

#menubar-container{
    width: 100%;
    height: 60px;
    background-color: rgb(177, 42, 42);
}

#menubar-links{
    width: 1200px;
    margin: 0 auto;
}

#menubar-links a{
    color: white;
    text-decoration: none;
    padding: 0 10px 0 10px;
    border-right: 1px solid rgb(216, 94, 94);
    position: relative;
    top: 33px;
    right: 12px;
}

#menubar-links a:hover{
    border-bottom: 5px solid whitesmoke;
}