body{
    margin: 0;
    padding: 0;
}


#top-bar{
    width: 1500px;
    height: 50px;
    margin:auto;
}

#bbc-logo{
    margin-top: 7px;
    height:40px;
}

#signin{
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
    height: 25px;
}

h3{
    display: inline;
    font-size: 25px;
}